@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.background {
    display: block;
    position: fixed;
    margin: -1vh;
    width: 100%;
    height: 100%;
    background: linear-gradient(220deg, #1ED760 -45.17%, #000 45.79%, #1ED760 211.67%);
}

.logo {
    position: fixed;
    display: block;
    width: 15vh;
    height: 15vh;
    top: 8vh;
    object-fit: fill;
    right: 14vh;
    border-radius: 13vh;
}

.font5 {
    color: rgb(255, 255, 255);
    position: fixed;
    right: 4vh;
    FONT-SIZE: 16PX;
    FONT-WEIGHT: 500;
    top: 89vh;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Zen Dots', sans-serif;
}

.font6 {
    color: rgb(255, 255, 255);
    position: fixed;
    right: 10vh;
    FONT-SIZE: 18PX;
    FONT-WEIGHT: 500;
    top: 24vh;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Zen Dots', sans-serif;
}

.icon1{
    position: fixed;
    display: block;
    width: 12vh;
    height: 12vh;
    right: 27vh;
    top: 40vh;
}

.icon2{
    position: fixed;
    display: block;
    width: 12vh;
    height: 12vh;
    right: 5vh;
    top: 40vh;
}

.icon3{
    position: fixed;
    display: block;
    width: 12vh;
    height: 12vh;
    right: 27vh;
    top: 62vh;
}

.icon4{
    position: fixed;
    display: block;
    width: 12vh;
    height: 12vh;
    right: 5vh;
    top: 62vh;
}

.box1 {
    position: fixed;
    display: block;
    border-radius: 12px;
    background: linear-gradient(220deg, #F70E01 -45.17%, #000 43.12%, #F70E01 211.67%);    width: 20vh;
    height: 19vh;
    top: 36vh;
    right: 23vh;
}

.box2 {
    position: fixed;
    display: block;
    border-radius: 12px;
    background: linear-gradient(220deg, #1ED760 -45.17%, #000 43.12%, #1ED760 211.67%);
    width: 20vh;
    height: 19vh;
    top: 36vh;
    right: 1vh;
}

.box3 {
    position: fixed;
    display: block;
    border-radius: 12px;
    background: linear-gradient(220deg, #1ED760 -45.17%, #000 43.12%, #1ED760 211.67%);
    width: 20vh;
    height: 19vh;
    top: 58vh;
    right: 23vh;
}

.box4 {
    position: fixed;
    display: block;
    border-radius: 12px;
    background: linear-gradient(220deg, #69C9D0 -45.17%, #000 43.12%, #69C9D0 211.67%);
    width: 20vh;
    height: 19vh;
    top: 58vh;
    right: 1vh;
}

.start1 {
    position: fixed;
    display: block;
    width: 20vh;
    height: 19vh;
    top: 36vh;
    right: 23vh;
    opacity: 0;
}

.start2 {
    position: fixed;
    display: block;
    width: 20vh;
    height: 19vh;
    top: 36vh;
    right: 1vh;
    opacity: 0;
}

.start3 {
    position: fixed;
    display: block;
    width: 20vh;
    height: 19vh;
    top: 58vh;
    right: 23vh;
    opacity: 0;
}

.start4 {
    position: fixed;
    display: block;
    width: 20vh;
    height: 19vh;
    top: 58vh;
    right: 1vh;
    opacity: 0;
}